
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496834812692'); /* IE9*/
  src: url('iconfont.eot?t=1496834812692#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496834812692') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496834812692') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496834812692#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-order:before { content: "\e62f";font-size:0.6rem; }

.icon-54:before { content: "\e642";font-size:1rem; }

.icon-jian:before { content: "\e629";font-size:1rem; }

.icon-jikediancanicon13:before { content: "\e77b";font-size:0.6rem; }

.icon-gouwuche:before { content: "\e654";font-size:1rem;color:#fff;border-radius: 50%;}

.icon-iconfontwohover:before { content: "\e60d"; font-size:2rem;}

.icon-dingwei:before { content: "\e604";font-size:0.6rem;color:#fff; }

.icon-444:before { content: "\e61b"; font-size:0.6rem;}

.icon-comiissjt:before { content: "\e67f";font-size:0.6rem; }

.icon-tianqi:before { content: "\e62e";font-size:0.8rem;color:#fff }

.icon-changyonglogo40:before { content: "\e600";font-size:0.6rem; }

