
*{
    margin:0;
    padding:0;
}

html{
    font-size:64px;
    box-sizing: border-box;
    background-color: #fefefe;
    color: #000;
    font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
    line-height: 1.2;
    user-select: none;
}
html,body{
    width:100%;
    height:100%;
    background:#f5f5f5;
}
body {
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    color: #000;
    text-decoration: none;
}

input{
    outline: none;
}

.head{
    width:100%;
    height:1.25rem;
    background:#0096ff;
    position:relative;
}
.head h2{
    text-align: center;
    line-height: 1.25rem;
    color:#fff;
}
.head span{
  position: absolute;
  top:0.4rem;
  left:0.2rem;
}


footer {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #999;
  padding-top:0.5rem;
}
footer a {
  flex:1;
  height: 1.5rem;
  text-align: center;
}
footer a span{
    display: block;
}

form{
    margin:0.5rem 0;
    background:#fff;
}

form label{
  display: block;
  width:100%;
  border-bottom:3px solid #f3f3f3;
}
form label input{
  width:80%;
  height:2rem;
  display: block;
  margin:0 auto;
  font-size:0.5rem;
  border:none;
}
form label:nth-of-type(1) input{
    width:60%;
    margin-left:10%;
    display: inline-block;
}
form label:nth-of-type(1) a{
    background:#ccc;
    padding:0.3rem;
    color:#fff;
    border-radius: 0.3rem;
    font-size:0.5rem;
}
form label input[type="submit"]{
    background:#4cd964;
    height:1.5rem;
    color:#fff;
}
form label span{
    width:80%;
    margin:0.5rem auto;
    display: block;
}
form label span a{
  color:#0096ff;
}

.footer{
    width:100%;
    height:1rem;
    background:#fff;
    border-top:1px solid #909090;
    display:flex;
    position:fixed;
    bottom:0;
    left:0;
}
.footer a{
  flex:1;
  font-size:0.5rem;;
  color:#909090;
  text-align:center;
  text-decoration:none;
}