header {
  width: 90%;
  height: 3.25rem;
  padding:0 5%;
  background: #0096ff;
}
header .location {
  height: 1.25rem;
  margin:0 0.2rem;
}
header .location h2 {
  color: #fff;
  margin-left: 0.1rem;
  line-height: 1.25rem;
  display:inline-block;
}
header .location .tianqi{
  margin-left:5rem;
}
header .search {
  width:100%;
  height: 1rem;
  margin:0 auto;
}
header .search input {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  height: 1rem;
  margin: 0 auto;
  text-align: center;
  color: #333;
  font-size: 0.35rem;
  box-shadow: 0 0.026667rem 0.066667rem 0 rgba(0, 0, 0, 0.2);
}
header .nav1 {
  height: 1rem;
}
header .nav1 .swiper-container1 {
  width: 100%;
  height: 100%;
  font-size: 20px;
  margin: 0 auto;
}
header .nav1 .swiper-container1 .swiper-slide {
  text-align: center;
  line-height: 1rem;
  margin-right: 0;
  color: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
nav {
  width: 100%;
  height: 5rem;
}
nav .swiper-container2 {
  width: 100%;
  height: 5rem;
  position: relative;
}
nav .swiper-container2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
nav .swiper-container2 .swiper-slide a {
  width: 15%;
  padding: 0 4%;
  color: #666;
  display: inline-block;
}
nav .swiper-container2 .swiper-slide a img {
  width: 100%;
}
nav .swiper-container2 .swiper-slide a span {
  display: block;
}
nav .swiper-container2 .swiper-pagi {
  position: absolute;
  bottom: 0;
}
section h2{
 padding-left:20px;
}
section .item {
  width: 100%;
  display: block;
  color: #000;
  padding:15px;
}
section .item img {
  display: inline;
}
section .item ul {
  width: 75%;
  list-style: none;
  display: inline-block;
}
section .item ul .li2 {
  margin: .5rem 0;
}
section .item ul .li2 span {
  margin-left: 2rem;
}
section .item ul .li3 {
  margin-bottom: 0.5rem;
}
