header {
  width: 100%;
  height: 5rem;
  padding: 0.2rem;
  background: rgba(119, 103, 137, 0.43);
}
header .item {
  width: 100%;
  display: block;
  color: #000;
  font-size: 0.5rem;
}
header .item > a {
  display: block;
  color: #fff;
  font-size: 1rem;
}
header .item img {
  display: inline;
  margin: 0.2rem;
  vertical-align: middle;
}
header .item ul {
  width: 75%;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  color:#fff;
}
header .item ul .li2 {
  margin: .5rem 0;
}
header .item ul .li2 > a {
  float: right;
  color: #fff;
  font-size: 1rem;
}
header .item ul .li3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: red;
}

section {
  width: 100%;
}

section .right {
  width: 100%;
  float: left;
  margin-left: 5%;
  overflow-y: scroll ;
}
section .right h2{
   background:#f0f0f0;
   height:1rem;
   margin:0.5rem 0;
}
section .right .item {
  width: 100%;
  display: block;
  margin: 1rem 0;
  color: #000;
  font-size: 0.5rem;
}
section .right .item img {
  display: inline;
  vertical-align: center;
  padding:0.5rem;
}
section .right .item ul {
  width: 75%;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
section .right .item ul .li2 {
  margin: .5rem 0;
}
section .right .item ul .li3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
section .right .item ul .li3 span{
  color:#f60;
  margin-right:4rem;
}
section .right .item ul .li3 i{
  margin:0 0.5rem;
}
section .right .item ul .li3 b{
  font-size:1rem;
  font-weight:normal;
}
.footer {
  width: 100%;
  height: 3rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer .left {
  width: 60%;
  height: 100%;
  float: left;
  background: rgba(119, 103, 137, 0.43);
  position:relative;
}
.footer .left i{
  width:1.5rem;
  height:1.5rem;
  line-height:1.5rem;
  display: block;
  border-radius: 50%;
  background:#0096ff;
  border:0.3rem solid rgba(119, 103, 137, 0.43);
  position: absolute;
  top:-0.5rem;
  text-align: center;
  left:2rem;
}
.footer .left span{
   color:#fff;
   position:absolute;
   top:.5rem;
   left:5rem;
   font-size:1rem;
}
.footer .right {
  width: 40%;
  height: 100%;
  font-size: 1rem;
  line-height: 3rem;
  float: left;
  text-align: center;
  background:#4cd964;
}


.footer .right a {
  color: #fff;
}
